$blue: #3fafff;
$red: #ff1822;
$white: #fff;
$light-gray: #eeeeee;
$med-gray: #9c9c9c;
$dark-gray: #6d6d6d;
$black: #000;

$h1-font-size: 1.5em;
$h2-font-size: 1.3em;
$border-style: 1px solid $med-gray;

$padding-small: 5px;
$padding-regular: 10px;
$padding-large: 20px;
$padding-xlarge: 40px;
